<h2><%= @animal.name %></h2>

<ul>
	<li><strong>Species:</strong><%= @animal.species %></li>
	<li><strong>Breed:</strong><%= @animal.breed %></li>
	<li><strong>Age:</strong><%= @animal.age %></li>
</ul>