<!DOCTYPE html>
<html>
<head>
  <title>Moma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div>
	<h1 class="logo"><a href="/">ART DE MOMA EUE GALLERIE</a></h1>
	</div>
</header>
<main id="main">


<%= yield %>

</main>
</body>
</html>
