<h1>Movies.</h1>
<h4>Search Your Fav Movies</h4>
<form action="/search" method="GET">
	<input class="form-control" type="text" name="q" placeholder="Search Movies">
	<input class="button" type="submit" value="Lookup Movie">
</form>