<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/normalize.css">	
	<link rel="stylesheet" href="/style.css">
	<title>Movie.s</title>
</head>
<body>
	<main id="main">
		<%= yield %>
	</main>
	<footer><p>Copyright 2014© Siunegu</p></footer>
</body>
</html>