<!DOCTYPE HTML>
<html>
<head>
<title>Link adder</title>

<link rel="stylesheet" type="text/css" href="/normalize.css">
<link rel="stylesheet" type="text/css" href="/style.css">


</head>

    <body>

<header>
        <h1> Link.R </h1>
        

    <form action="/tasks" method="POST">
   <input type="text" name="title" placeholder="Enter title"><br>
   <input type="text" name="url" placeholder="Enter URL"><br>
     <input type="submit" value="Save Link">

    </form>

</header>

      
        
    </body>

</html>