<!DOCTYPE HTML>
<html>
<head>
<title>Add a link</title>

<link rel="stylesheet" type="text/css" href="/normalize.css">
<link rel="stylesheet" type="text/css" href="/style.css">


</head>

    <body>

        <%= yield %>
        
    </body>

</html>