<!DOCTYPE html>
<html>
<head>
	<title>My Pirate Blog</title>

</head>
<body>
<header>
<h1 style = "margin: 72px auto; display: block; text-align: center;">YARR ME HARR'EES</h1>
<img style = "margin: 0 auto; padding: 0 32%; width: 150px; display: block; text-align: center;" src="http://www.themortonreport.com/2011/05/31/uploads/pics/pirate-ship.gif">
</header>
		<%= yield %>
</body>
</html>