<form class="contact" action="/thank_you" method="get">
	<article>
		<input placeholder= "Name" type="text" name="your_name"></input>
	</article>
	<article>
	<p>
		<input placeholder="email" type="text" name="email"></input>
	</p>
	</article>
	<article>
		<input class="description" name="description"placeholder="Description" type="text"></input>
		<button placeholder="Email" type="text">Submit!</button>		
	</article>	
</form>