<section>
	<ul class="students">
		<li><a href="/ben">Ben</a></li>
		<li><a href="/eugene">Eugene</a></li>
		<li><a href="/vito">Vito</a></li>
		<li><a href="/chris">Chris</a></li>
		<li><a href="/alan">Alan</a></li>
		<li><a href="/lenny">Lenny</a></li>	
		<li><a href="/joel">Joel</a></li>
		<li><a href="/freddy">Freddy</a></li>			
		<li><a href="/mike">Mike</a></li>	
		<li><a href="/phil">Phil</a></li>
		<li><a href="/ryan">Ryan</a></li>
		<li><a href="/jonathan">Jonathan</a></li>		
	</ul>
</section>


