<section class="fix-padding-shit">
		<p class="portrait"><img src="/<%= @student_name %>.png"></p>
	<article class="about-student">
		<h3> - <%= @current_student["student_name"] %> - </h3>
		<p>Got <%= @current_student["skills"] %>?</p>
	</article>	
</section>