<!DOCTYPE html>
<html>
  <head>
    <title>Eug's Blog</title>
  </head>
  <body>
    <h1>Eug's Blog</h1>
    <p>
      <a href="/">Posts</a> | 
      <a href="/authors">Authors</a> |
      <a href="/posts/new">New Post</a>      
    </p>

    <%= yield %>
  </body>
</html>
