<form action="/" method="POST">
  <p>
    <label for="title">Title</label><br>
    <input type="text" name="title" id="title">
  </p>
  <p>
    <label for="date">Date</label><br>
    <input type="text" name="date" id="date">
  </p>
  <p>
    <label for="author_id">Author</label><br>
    <select name="author_id" id="author_id">
      <% @authors.each do |author| %>
      <option value="<%= author["id"] %>">
        <%= author["first_name"] + " " + author["last_name"] %>
      </option>
      <% end %>
    </select>
  </p>
  <p>
    <label for="content">Content</label><br>
    <textarea name="content" id="content"></textarea>
  </p>
  <p>
    <input type="submit" value="Create Post">
  </p>
</form>
