<form action="/authors" method="POST">
  <p>
    <label for="first_name">First Name</label><br>
    <input type="text" name="first_name" id="first_name">
  </p>
  <p>
    <label for="last_name">Last Name</label><br>
    <input type="text" name="last_name" id="last_name">
  </p>
  <p>
    <input type="submit" value="Create Worker">
  </p>
</form>

